@media (max-width:1400px){
    /* body {
        overflow-x: hidden;
    } */
    #navbar{
        width: 100%;
    }
}
@media screen  and (max-width:1200px){
    .container {
        padding: 0 25px;
    }
    .menu {
        max-width: 1100px;
    }
    .selected{
        margin-left: -1px !important;
        padding : 12px 24px;
    }
    .column-header{
        padding-top: 25px;
    }
}
@media screen and (max-width: 990px){
    .menu_right .fa-bars{
        display:block;
    }
    .menu_little{
        display: none;
    }
    .right_after_bars{
        display: none;
    }
    #navbar{
        position: relative;
    }
    .toggle{
        display:block;
    }
    .menu_little{
        background-color : #032541;
        position: absolute;
        top: 64px;
        left: 0;
        height : 250px;
        width : 100%;
        width: 100%;
        z-index: 88;
    } 
    .menu_little .right{
        margin-right: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center
    }
    .menu_little .menu-item{
        padding: 15px 0;
    }
    .menu_little_{
        left: 17.5%;
        z-index: 55555;
        top: 5%;
        box-shadow: 0 1px 10px rgba(0,0,0, 0.2);
    }
    .menu-item .menu-link{
        font-size: 24px;
        padding-left: 25px;
        color: #fff;
    }
    body{
        overflow-x: hidden;
    }
}
